<div class="logo">
	<div id="gridbox">
	<div class="text">
		<img src="logoCutOut.png" alt ="test"/>
	</div>
	</div>

</div>
<div class="info">
	<h4>Full Stack Developer</h4>
	<h4>Brighton, UK</h4>
</div>
<div class="contact">
	<ul>
		<li id="mail"><img src="mail.png" /><a target="_top" href="mailto:bstacey37@gmail.com">bstacey37@gmail.com</a></li>
		<li id="github"><img src="github.png" /><a target="_top" href="http://github.com/SpiderMasterMind">GitHub</a></li>
		<li id="twitter"><img src="twitter.png" /><a target="_top" href="http://twitter.com/_benstacey">Twitter</a></li>
	</ul>
</div>

		
