/* BODY/SIDEBAR/MAIN POSITIONING */

body {
	margin: 0;
	font-family: $font-style;
	-webkit-font-smoothing: antialiased;
	background-color: $background-color;
	color: $font-color;
}

h1, h2, h3, h4, {
	font-family: $heading-font;
}

aside {
	float: left;
	min-width: 16%;
}

main {
	padding-top: 200px;
	overflow: hidden;
}

/* GENERAL STYLES */

.hidden {
	display: none;
}

.panel, .app-desc {
	background-color: $panel-color;
	border-radius: 4px;
}

a {
	color: $font-color;
	text-decoration: none;
}

/* MAIN */

nav {
	margin-left: 38px;
	li {
	display: inline-block;
	}
}

#content {
	margin: 0 30px 0 30px;
}

.apps-area {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
}

.app-window {
	margin-top: 5px;
}

.app-window:nth-of-type(odd) {
	margin-right: 40px;
}

.app-desc,
.app-image {
	display: inline-block;
	vertical-align: top;
}

.app-desc {
	width: 95px;
	background-color: $panel-color;
	padding: 10px 5px 5px 5px;
	border-top-right-radius: 0;		
	border-bottom-right-radius: 0;	
	p {
		font-size: 12px;
	}
}



.app-image {
	text-align: center;
	img {
	display: block;
	height: 100%;
	border: 8px solid $panel-color;
	border-top-left-radius: 0;		
	}
	img:hover {
	border: 8px solid white;
	}
}

/* SIDEBAR */

.logo {
	height: 140px;
	margin-top: 20px;
}

aside {
	padding: 10px;
}

aside .panel {
	margin-top: 10px;
}

/* lOGO */
#gridbox {
  width: 240px;
  height: 120px;
	line-height: 0.6;
	position: relative;
	z-index: 1;
}

.cell {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  background-color: green;
  display: inline-block;

}

.text {
	position: absolute;
	width: 240px;
	height: 120px;
	z-index: 2;
}

/* INFO */

.info {
	padding: 5px;
}

/* CONTACT */

.contact {
	margin-top: 30px;
	padding: 5px;
}


