<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	<aside>
		{% include sidebar.html %}
	</aside>
	<main>
		<nav>
			<ul>
				<li><a href="#">Hosted Projects</a></li>
			</ul>
		</nav>
		<div id="content">
			<div class="apps-area">
					<div class="app-window">
						<div class="app-desc">
							<h4>Single-page Trello Clone</h4>
							<p>Node/Express, Backbone, JQuery
						</div><!--
						--><a target="_top" href="https://fathomless-island-59120.herokuapp.com"><div class="app-image">
							<img src="trello-screenshot-max.png" alt="app" />
						</div></a>
					</div>
				<div class="app-window">
					<div class="app-desc">
						<h4>Sushi store with cart</h4>
						<p>Node/Express, Backbone, JQuery
					</div><!--
					--><a target="_top" href="https://pure-reef-92205.herokuapp.com/menu"><div class="app-image">
						<img src="sushi-screenshot-max.png" alt="app" />
					</div></a>
				</div>
				<div class="app-window">
					<div class="app-desc">
						<h4>Blog post application</h4>
						<p>Rails, Bootstrap
					</div><!--
					--><a target="_top" href="https://mysterious-sierra-82357.herokuapp.com/"><div class="app-image">
						<img src="postit-screenshot-max.png" alt="app" />
					</div></a>
				</div>
				<div class="app-window">
					<div class="app-desc">
						<h4>Client-side todo list</h4>
						<p>HTML, CSS, Javascript
					</div><!--
					--><a target="_top" href="https://spidermastermind.github.io/todos_site/todo.html"><div class="app-image">
						<img src="todos-screenshot-max.png" alt="app" />
					</div></a>
				</div>				
		</div>
	</main>
</body>

<script src="mysite.js"></script>

</html>
